@font-face {
    font-family: 'cerapro';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/cerapro-regular.woff2);
}
@font-face {
    font-family: 'cerapro';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/cerapro-bold.woff2);
}
@font-face {
    font-family: 'cerapro';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/cerapro-black.woff2);
}
@font-face {
    font-family: 'cerapro';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/cerapro-light.woff2);
}
@font-face {
    font-family: 'cerapro';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/cerapro-medium.woff2);
}
*{
    box-sizing: border-box;
    margin: 0;
}

.body{
    font-family: 'cerapro','Arial', sans-serif;
    font-weight: 400;
}
.wrapper{
    max-width: 1220px;
    min-width: 991px;
    margin: 0 auto;
    padding: 0 10px;
}
.imeg{
    width: 100%;
    height: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: #46a358 solid 0.3px;
}
.logo img{
    display: block;
}
.menu{
    padding-left: 0;
    list-style: none;
    display: flex;
}
.menu li{
    padding: 0 25px;
    padding-top: 7px;
}
.menu a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #3d3d3d;
    padding-bottom: 18px;
}
.menu a:hover{
    border-bottom: #46a358 solid 3px;
}
.button-menu{
    display: flex;
    align-items: center;
}
.loupe{
    margin-right: 15px;
    height: 20px;
    width: 20px;
    background-image: url(/img/loupe_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.basket{
    margin: 0 15px;
    height: 24px;
    width: 24px;
    background-image: url(/img/basket_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.login{
    display: flex;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
    padding: 7px 17px 7px 17px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
    background-color: #46a358;
}
.login svg{

    padding-right: 4px;
}
.welcome-page{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
}
.welcome-text{
    padding-left: 40px;
    width: 50%;
}
.welcome-text h3{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 10%;
    color: #3d3d3d;
    text-transform: uppercase;
    margin-left: 3px;
    margin-top: 63px;
}
.welcome-text h1{
    margin-top: 7px;
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    color: #3d3d3d;
    text-transform: uppercase;
}
.welcome-text span{
    color: #46a358;
}
.welcome-text p{
    display: inline-block;
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
}
.shop-now{
    display: inline-block;
    margin: 44px auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #46a358;
    border-radius: 6px;
    padding: 10px 27px;
}
.products-categories-section{
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
}
.categories-section{
    width: 25%;
    margin-right: 10px;
    background-color: #fbfbfb;
}
.categories-menu{
    padding: 19px 14px;
}
.categories-menu h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #3d3d3d;
}
.categories-menu ul{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 11px;
    padding-top: 7px;
}
.categories-menu li{
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    color: #3d3d3d;
}
.categories-menu a{
    display: flex;
    justify-content: space-between;
    color: #3d3d3d;
    text-decoration: none;
}
.categories-menu a:hover{
    color: #46a358;
    font-weight: 700;
}
.products-section{
    width: 75%;
    margin-left: 10px;
}
.filters-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 31px;
}
.categories-filter{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 33%;
}
.categories-filter a{
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #3d3d3d;
    padding-bottom: 5px;
    border-bottom: transparent solid 2px;
}
.categories-filter a:hover{
    color: #46a358;
    border-bottom: #46a358 solid 2px;
}
.sort-filter{
    color: #3d3d3d;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    padding-right: 2px;
    align-items: start;
}
.sort-filter .button{
    background-color: transparent;
    border: none;
    color: #3d3d3d;
    font-size: 15px;
    line-height: 16px;
    font-family: 'cerapro';
    margin-left: 8.5px;
    padding: 0;
}
.products-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
}
.product-item{
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.img-item{
    background-color: red;
}