.body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #3D3D3D;
    font-size: 13px;
}

.register {
    width: 300px;
    background-color: #ffffff;
    border-bottom: 10px solid #46A358;
    padding-top: 52px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 40px;
    margin: 50px auto;
}

.default-input {
    font-size: 14px;
    line-height: 16px;
    color: #A5A5A5;
    border: 1px solid #EAEAEA;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 5px;
    width: 270px;
}

.line {
    margin-bottom: 16px;
}

.continue {
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    width: 298px;
    height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 15px;
    display: block;
    color: #727272;
    text-decoration: none;

}


.continue img {
    display: inline-block;
    vertical-align: middle;
}

.login-register {
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}
.login-register a {
    text-decoration: none;
}
.login {
    color: #3D3D3D;
}
.reg {
    color: #46A358
}
.login-register span{
    margin-left: 12px;
    margin-right: 10px;
}
.button {
    background-color: #46A358;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 298px;
    height: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 36px;
    display: block;
    text-decoration: none;
    font-size: 16px;
}
.register-with{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 27px;
}
.google {
    width: 20;
    height: 20;
    margin-right: 9px;
}
.facebook {
    width: 20;
    height: 20;
    margin-right: 4px;
}
